/* ----------------- */
/* Custom Properties */
/* ----------------- */

:root {
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;

  /* font sizes */
  --fs-900: 9.375rem;
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* font-families */
  --ff-serif: 'Bellefair', serif;
  --ff-sans-cond: 'Barlow Condensed', sans-serif;
  --ff-sans-normal: 'Barlow', sans-serif;
}

/* ------------- */
/* Reset         */
/* ------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  background-color: hsl(var(--clr-dark));
  color: hsl(var(--clr-white));
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* respect prefers reduced motion */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* --------------- */
/* Utility classes */
/* --------------- */

.flex {
  display: flex;
  gap: var(--gap, 16px);
}

.grid {
  display: grid;
  gap: var(--gap, 16px);
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 16px);
}

.container {
  padding-inline: 32px;
  margin-inline: auto;
  max-width: 1200px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* colors */

.bg-dark {
  background-color: hsl(var(--clr-dark));
}
.bg-light {
  background-color: hsl(var(--clr-light));
}
.bg-white {
  background-color: hsl(var(--clr-white));
}

.text-dark {
  color: hsl(var(--clr-dark));
}
.text-accent {
  color: hsl(var(--clr-light));
}
.text-white {
  color: hsl(var(--clr-white));
}

/* typography */

.ff-serif {
  font-family: var(--ff-serif);
}
.ff-sans-cond {
  font-family: var(--ff-sans-cond);
}
.ff-sans-normal {
  font-family: var(--ff-sans-normal);
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}
.letter-spacing-2 {
  letter-spacing: 2.7px;
}
.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.numbered-title {
  text-transform: uppercase;
  font-size: var(--fs-500);
  font-family: var(--ff-sans-cond);
  letter-spacing: 4.75px;
}
.numbered-title span {
  color: hsl(var(--clr-white) / 0.25);
  font-weight: 700;
  margin-right: 0.5em;
}

/* --------------- */
/* Components      */
/* --------------- */

.large-button {
  position: relative;
  z-index: 1;
  border-radius: 50%;
  text-decoration: none;
  padding: 0 2em;
  display: grid;
  aspect-ratio: 1;
  place-items: center;
}
.large-button::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: hsl(var(--clr-white) / 0.15);
  opacity: 0;
  transition: opacity 0.25s linear, transform 0.5s ease-out, box-shadow 0.5s ease-out;
}

.large-button:hover::after,
.large-button:focus::after {
  transform: scale(1.25);
  opacity: 1;
  box-shadow: 0 0 2em hsl(var(--clr-white) / 0.15);
}

.primary-navigation {
  --gap: 128px;
  --underline-gap: 32px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.primary-navigation a {
  text-decoration: none;
}
.primary-navigation a span {
  font-weight: 700;
  margin-right: 0.5em;
}

.underline-indicators > * {
  padding: var(--underline-gap, 16px) 0;
  border: none;
  cursor: pointer;
  border-bottom: 3px solid hsl(var(--clr-white) / 0);
  transition: border-bottom 0.3s;
}

.underline-indicators > *:hover,
.underline-indicators > *:focus {
  border-bottom: 3px solid hsl(var(--clr-white) / 0.5);
}

.underline-indicators > .active,
.underline-indicators > [aria-selected='true'] {
  border-bottom: 3px solid hsl(var(--clr-white) / 1);
  color: hsl(var(--clr-white));
}

.tab-list {
  --gap: 32px;
}

.tab-list > button {
  border-bottom: 3px solid hsl(var(--clr-white) / 0);
}

.dot-indicators > * {
  border: none;
  cursor: pointer;
  background-color: hsl(var(--clr-white) / 0.17);
  aspect-ratio: 1;
  border-radius: 50%;
  width: 15px;
  transition: background-color 0.3s;
}

.dot-indicators > *:hover,
.dot-indicators > *:focus {
  background-color: hsl(var(--clr-white) / 0.5);
}
.dot-indicators > [aria-selected='true'] {
  background-color: hsl(var(--clr-white));
}

.number-indicators {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.number-indicators > * {
  border: 1px solid hsl(var(--clr-white) / 0.25);
  cursor: pointer;
  background-color: hsl(var(--clr-white) / 0);
  aspect-ratio: 1;
  border-radius: 50%;
  height: 80px;
  transition: border 0.3s;
  padding: 0;
}
.number-indicators > *:hover,
.number-indicators > *:focus {
  border: 1px solid hsl(var(--clr-white) / 1);
}

.number-indicators > [aria-selected='true'] {
  background-color: hsl(var(--clr-white));
  border: 1px solid hsl(var(--clr-white));
  color: hsl(var(--clr-dark));
}
